@import url("./overview.scss");
@import url("./settings.scss");
@import url("./layout.scss");

html,
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;

  nextjs-portal {
    display: none;
  }
}

.maxW {
  width: full;
  margin: 0 auto;
  max-width: 1256px;
}

::-webkit-scrollbar {
  height: 0px;
  width: 8px;
  border: 1px solid #fff;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #EEEEEE;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #B0B0B0;
}


.css-5gngp[aria-checked='true'],
.css-5gngp[data-checked] {
  background-color: #106CFF !important;
  border-color: #106CFF !important;
}

.header {
  .menu-right-header {

    .gas-fee-item,
    .fiat-item,
    .helps-item,
    .toggle-balance-big,
    .more-actions-item {
      svg {
        path {
          fill: #106cff !important;
        }
      }

      .border-box {
        border: 1px #106cff solid;
      }
    }

    .currency-item {
      .border-box {
        border: 1px #106cff solid;
      }
    }
  }
}

w3m-modal {
  #w3m-modal {
    inset: 0px !important;
    position: fixed !important;
    z-index: 9000 !important;
    overflow: hidden !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: rgba(0, 0, 0, 0.3) !important;

  }

  .w3m-overlay {
    inset: 0px !important;
    position: fixed !important;
    z-index: 9000 !important;
    overflow: hidden !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: rgba(0, 0, 0, 0.3) !important;

  }
}